.userList {
    margin-left: 10px;
    margin-top: 2px;
    height: 400; 
    width: 100%
  }
  
  .userListUser {
    display: flex;
    align-items: center;
  }
  
  .userListImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  .userListAdd{
      align-items: center;
    cursor: pointer;
    margin-right: 100px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-top: 20px;
    width: 190%;
    flex:6;
  }

  .userListEdit{
      
      cursor: pointer;
      margin-right: 20px;
      margin-top: 23px;
  }
  
  .userListDelete{
      color: red;
      cursor: pointer;
  }
  .userAddButton {
    width: 80px;
    border: none;
    padding: 5px;
    background-color: teal;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
  }